:root {
    --color-primary: #131f38;
    --color-secondary: #e84918;
}

#back-top {
    transform: rotate(180deg);
    background-image: url(../imgs/seta-para-baixo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    box-shadow: 0 10px 40px rgba(19, 31, 56, 0.4);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.2s all;
    display: none;
}

#back-top:hover {
    bottom: 25px;
    box-shadow: 0 12px 35px rgba(255, 107, 53, 0.4);
    filter: brightness(1.1);
}

html, body {
    overflow: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-primary);
}

body {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 1); /* Pode ajustar a opacidade */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 7px solid var(--color-primary);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.content-fixed {
    width: 1200px;
    margin: 0 auto;
}

/* ===========HEADER========== */
#header-top-site {
    background: linear-gradient(270deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.4) 10%,
    rgba(255, 255, 255, 0.6) 20%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0.9) 80%,
    rgba(255, 255, 255, 1) 100%
    );
    margin-top: 46px;
    z-index: 999;
}

#header-top-site .header-content {
    width: 1200px;
    height: 107px;
    margin: 0 auto;
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top-site .custom-logo-link a {
    height: 100%;
    display: flex;
    align-items: center;
}

#header-top-site .custom-logo-link img {
    width: auto;
    height: 54px;
    object-fit: contain;
}

#menu-principal {
    display: flex;
    gap: 2px;
}

#header-top-site .header-content .navbar {
    padding: 0;
}

#header-top-site .header-content .navbar .container {
    padding: 0;
}

#menu-principal li a,
#menu-principal li a b {
    color: var(--color-primary);
    font-size: 1.2rem;
    transition: 0.2s all;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    display: flex;
    gap: 18px;
    padding-left: 18px;
}

#menu-principal li a:last-child {
    padding-right: 0;
}

#menu-principal li:hover > a,
#menu-principal li:hover > a > b {
    color: var(--color-secondary);
}

#menu-principal li a .menu_barra {
    display: inline-block;
}

/* ==============SLIDER============== */

.slider-content-home {
    position: relative;
    margin-top: -158px;
}

.slider-content-home .slider-container {
    height: 1080px;
}


.slider-content-home .slider-title {
    position: absolute;
    width: 80%;
    padding: 0 20%;
    top: calc(50% - 18px);
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.slider-content-home .owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content-home .owl-nav .owl-prev,
.slider-content-home .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 99;
    font-size: 60px !important;
    outline: none !important;
}

.slider-content-home .owl-nav .owl-prev {
    left: 30px;
}

.slider-content-home .owl-nav .owl-next {
    right: 30px;
}

.slider-content-home .owl-nav .owl-prev span,
.slider-content-home .owl-nav .owl-next span {
    color: var(--color-secondary);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.slider-content-home .slider-adicional {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    background: transparent;
    position: absolute;
    top: calc(50% + 5px);
    left: calc(50% - (620px / 2));
}

.slider-content-home .slider-adicional .s-texto {
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.slider-content-home .slider-adicional .s-texto .detalhe {
    width: 8px;
    height: 108px;
    background: var(--color-secondary);
    margin-left: -57px;
}

.slider-content-home .slider-adicional img {
    width: auto !important;
    height: auto !important;
    object-fit: cover !important;
    display: block !important;
}

/* ===========FRONT-PAGE========== */

main .introducao {
    width: 100%;
    height: 198px;
    padding: 0 27px;
    background: var(--color-secondary);
    color: #fff;
}

main .introducao div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

main .introducao h3, main .introducao h4 {
    font-weight: normal;
    color: #fff;
}

main .introducao strong {
    color: #fff;
}

main .introducao h3 {
    font-size: 37px;
}

main .introducao h4 {
    font-size: 23px;
}

/*** SOBRE ***/
main #sobre {
    width: 100%;
    padding: 100px 25px;
    background: linear-gradient(270deg,
    rgb(19, 31, 56, 0.3) 0%,
    rgb(19, 31, 56, 0.2) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
    );
}

main #sobre .sobre-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

main #sobre .sobre-info h3 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}

main #sobre .sobre-info .detalhe {
    background: var(--color-primary);
    width: 100px;
    height: 6px;
    margin-top: 50px;
}

main #sobre .sobre-info .texto {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main #sobre .sobre-info .texto p {
    font-size: 29px;
    line-height: 59px;
}

main #sobre .sobre-bases {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 135px;
}

main #sobre .sobre-bases .fileira {
    display: flex;
}

main #sobre .sobre-bases .fileira .icone,
main #sobre .sobre-bases .fileira .informacao {
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #sobre .sobre-bases .fileira .icone {
    height: 180px;
    border-bottom: 1px solid var(--color-secondary);
}

main #sobre .sobre-bases .fileira .icone:not(:last-child),
main #sobre .sobre-bases .fileira .informacao:not(:last-child) {
    border-right: 1px dotted var(--color-secondary);
}

main #sobre .sobre-bases .fileira .informacao {
    margin-top: 1px;
    height: 200px;
    justify-content: flex-start;
    padding: 25px 20px;
}

main #sobre .sobre-bases .fileira .informacao .titulo {
    font-size: 31px;
    font-weight: bold;
    text-align: center;
}

main #sobre .sobre-bases .fileira .informacao .texto {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

main #sobre .politicas {
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #sobre .politicas h3 {
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

main #sobre .politicas i {
    font-weight: 500;
    font-style: italic;
    font-size: 27px;
}

main #sobre .politicas strong {
    font-style: italic;
    font-weight: bold;
}

main #sobre .politicas .items {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 60px;
}

main #sobre .politicas .items .accordeon {
    width: 100%;
}

main #sobre .politicas .items .accordeon .titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #7883ae;
    border-radius: 16px;
    padding: 15px 65px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

main #sobre .politicas .items .accordeon .titulo img {
    transition: 0.3s all;
}

main #sobre .politicas .items .accordeon .content {
    max-height: 500px; /* altura máxima quando aberto */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

main #sobre .politicas .items .accordeon .content .conteudo,
main #sobre .politicas .items .accordeon .content .link {
    transition: 0.3s all;
    font-size: 26px;
    line-height: 44px;
    padding: 0 70px;
}

main #sobre .politicas .items .accordeon .conteudo {
    margin-top: 20px;
}

main #sobre .politicas .items .accordeon .content .link {
    color: #0085e2;
}


main #sobre .politicas .items .accordeon .titulo .rotate {
    transform: rotate(-90deg);
}

main #sobre .politicas .items .accordeon .hide {
    max-height: 0;
}

/*** SERVIÇOS ***/
main #servicos {
    background: #d9dee9;
    padding: 90px 25px 500px;
}

main #servicos .content-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #servicos h3 {
    font-size: 35px;
    font-weight: 900;
    color: var(--color-secondary);
    text-align: center;
}

main #servicos .detalhe {
    background: var(--color-secondary);
    width: 100px;
    height: 6px;
    margin-top: 30px;
}

main #servicos h4 {
    padding: 0 20px;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

main #servicos .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 90px;
    align-items: flex-start; /* Alinha os cards verticalmente */
}

main #servicos .cards .item {
    padding: 40px 34px;
    border-radius: 27px;
    background: white;
    min-height: 368px;
}

main #servicos .cards .item_central {
    box-shadow: 0 10px 40px rgba(19, 31, 56, 0.4);
    padding-bottom: 60px;
}

main #servicos .cards .item .titulo {
    font-size: 30px;
    font-weight: bold;
}

main #servicos .cards .item .linha {
    width: 100%;
    height: 1px;
    background: var(--color-primary);
    margin-top: 28px;
}

main #servicos .cards .item .opcoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main #servicos .cards .item .opcoes div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

main #servicos .cards .item .opcoes div span {
    font-size: 25px;
    color: #727272;
    display: inline-block;
    margin-top: -8px;
}

main #servicos .cards .item .opcoes div img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
}

main #servicos .modalidades {
    display: flex;
    flex-direction: column;
}

main #servicos .modalidades h5 {
    margin-top: 60px;
    font-size: 39px;
    font-weight: 900;
    text-align: center;
}

main #servicos .modalidades .items {
    font-size: 27px;
    text-align: center;
}

main #servicos .modalidades .items_mobile {
    display: none;
}

main #servicos .modalidades .items b,
main #servicos .modalidades .items_mobile b {
    color: var(--color-secondary);
}

main #servicos h2 {
    margin-top: 110px;
    color: var(--color-secondary);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 0 130px;
}

main #servicos .saiba_mais {
    margin: 110px auto 0;
    border: none;
    width: 100%;
    padding: 24px 35px;
    border-radius: 9px;
    color: #fff;
    background: var(--color-secondary);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

main #servicos .saiba_mais:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 35px rgba(255, 107, 53, 0.4);
    filter: brightness(1.1);
}

/*** DIFERENCIAIS ***/
main #diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #diferenciais .bloco_1 {
    width: 100%;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    gap: 93px;
    padding-bottom: 70px;
}

main #diferenciais .bloco_1 .item {
    display: flex;
    flex-direction: column;
    width: 302px;
    margin-top: -157px;
}

main #diferenciais .bloco_1 .item .icone {
    width: 302px;
    height: 302px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

main #diferenciais .bloco_1 .item .textos {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

main #diferenciais .bloco_1 .item .textos h4 {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}

main #diferenciais .bloco_1 .item:first-child .textos h4 {
    text-align: center;
}


main #diferenciais .bloco_1 .item .textos .horas p,
main #diferenciais .bloco_1 .item .textos .horas span {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 80px;
}

main #diferenciais .bloco_1 .item .textos .horas span {
    font-size: 92px;
}

main #diferenciais .bloco_1 .item .textos h5 {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

/*** textos 2 ***/
main #diferenciais .bloco_1 .item .textos .detalhe {
    width: 243px;
    height: 2px;
    background: #fff;
    margin-top: 8px;
}

main #diferenciais .bloco_1 .item .textos .paragrafos {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #diferenciais .bloco_1 .item .textos .paragrafos p {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
}

/*** BLOCO 2 ***/
main #diferenciais .bloco_2 {
    width: 100%;
    background: #ca3a0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 80px 0 130px;
}

main #diferenciais .bloco_2 .texto_1 {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 53px;
}

main #diferenciais .bloco_2 .texto_2 {
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-top: 31px;
}

/*** PORTFOLIO ***/
main #portfolio {
    background: linear-gradient(270deg, rgb(19, 31, 56, 0.3) 0%,
    rgb(19, 31, 56, 0.2) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%);
}

main #portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

main #portfolio .galeria .container_foto {
    width: 100%;
    height: 425px;
    overflow: hidden;
    z-index: 9999;
}

main #portfolio .galeria .container_foto .port_foto {
    z-index: 9999;
}

main #portfolio .galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main #portfolio .galeria img:hover {
    transform: scale(1.15) rotate(2deg);
}

main #portfolio .portfolio-carousel {
    position: relative;
}


main #portfolio .portfolio-carousel .swiper-slide {
    position: relative;
    padding-top: 55px;
    background: #CA3A0E;
}

main #portfolio .portfolio-carousel .swiper-slide .portfolio-slide-title {
    z-index: 100;
    position: absolute;
    font-style: italic;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 80%;
    color: #fff;
    padding: 0 30px;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 3px 3px 6px rgba(19, 31, 56, 0.7);
}

main #portfolio .portfolio-carousel .swiper-button-next,
main #portfolio .portfolio-carousel .swiper-button-prev {
    color: var(--color-secondary); /* Usa a cor secundária do tema */
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    background-color: rgba(225, 225, 225, 0.7);
    border-radius: 50%;
    transition: all 0.3s ease;
}

main #portfolio .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
}

main #portfolio .swiper-button-prev:after {
    margin-left: -3px;
}

main #portfolio .swiper-button-next:after {
    margin-left: 3px;
}

main #portfolio .portfolio-carousel .swiper-button-next:hover,
main #portfolio .portfolio-carousel .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

main #portfolio .portfolio-carousel .swiper-button-next {
    right: 25px;
}

main #portfolio .portfolio-carousel .swiper-button-prev {
    left: 25px;
}

main #portfolio .portfolio-carousel .swiper-pagination-bullet {
    background: var(--color-secondary);
    width: 12px;
    height: 12px;
    opacity: 0.6;
}

main #portfolio .portfolio-carousel .swiper-pagination-bullet-active {
    opacity: 1;
    width: 14px;
    height: 14px;
}

/*** CLIENTES ***/
main #clientes {
    padding: 95px 0 350px;
    background: linear-gradient(270deg,
    rgb(19, 31, 56, 0.3) 0%,
    rgb(19, 31, 56, 0.2) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
    );
}

main #clientes .infos {
    display: flex;
    gap: 32px;
}

main #clientes .infos .icon {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    background: var(--color-secondary);
}

main #clientes .infos .textos .p1,
main #clientes .infos .textos .p2 {
    font-size: 51px;
}

main #clientes .infos .textos .p1 {
    line-height: 46px;
}

main #clientes .infos .textos .p2 {
    font-weight: 900;
    line-height: 60px;
}

main #clientes .infos .textos .p3 {
    margin-top: 32px;
    font-size: 27px;
}

/*** Marcas ***/
main #clientes .marcas {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main #clientes .marcas_mobile {
    display: none;
}

main #clientes .marcas .linha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main #clientes .marcas .linha.linha-1 {
    justify-content: space-between;
}

main #clientes .marcas .linha.linha-2 {
    gap: 90px;
}

main #clientes .marcas .linha.linha-3 {
    gap: 170px;
}

main #clientes .marcas .item {
    object-fit: contain;
    height: auto;
}

/*** CONTATO ***/
main #contato {
    background: var(--color-primary);
    padding-bottom: 165px;
    display: flex;
}

main #contato .content-fixed {
    margin-top: -70px;
    overflow: hidden;
    border-radius: 32px;
}

main #contato .titulo {
    width: 100%;
    background: #d84f27;
    text-align: center;
    padding-top: 24px;
}

main #contato .titulo span {
    color: #fff;
    font-size: 37px;
    font-weight: 900;
    display: block;
    margin-bottom: -10px;
}

main #contato form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 45px 60px;
    background: #d6461b;
}


main #contato form input,
main #contato form textarea {
    width: 100%;
    background: #fff;
    border: none;
    padding: 18px 14px;
    font-size: 25px;
    color: #9096a1;
    border-radius: 9px;
}

main #contato form #enviar_form_contato {
    margin-top: 30px;
}

main #contato form #enviar_form_contato {
    width: 580px;
    height: 88px;
    border: none;
    background: var(--color-primary);
    color: #fff;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 33px;
    outline: none;
}


main #contato form #enviar_form_contato:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 35px rgba(19, 31, 56, 0.4);
    filter: brightness(1.1);
}

main #contato form #enviar_form_contato.loading {
    opacity: 0.8;
}

main #contato form #enviar_form_contato.loading span {
    display: none;
}

main #contato form #enviar_form_contato.loading::after {
    margin-left: 10px;
    content: '';
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/*** ONDE ESTAMOS ***/
main #onde_estamos {
    background-image: url(../imgs/mapa_section.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1290px;
    padding: 220px 25px 130px;
}

main #onde_estamos .content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

main #onde_estamos .content .titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

main #onde_estamos .content .titulo span {
    font-size: 36px;
    font-weight: 900;
    color: var(--color-secondary);
    text-transform: uppercase;
}

main #onde_estamos .content .titulo .detalhe {
    width: 10000px;
    height: 8px;
    background: #fff;
    margin-left: calc(-10000px + 304px);
}

main #onde_estamos .content .infos {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

main #onde_estamos .content .infos:nth-child(2) {
    max-width: 430px;
}


main #onde_estamos .content .infos img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

main #onde_estamos .content .infos .bold {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

main #onde_estamos .content .infos span {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

/* ==============PRE-FOOTER============== */
.pre-footer-container {
    position: relative;
}

/* ==============FOOTER============== */
#footer-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 400px 25px 360px;
    background: linear-gradient(270deg,
    rgb(19, 31, 56, 0.3) 0%,
    rgb(19, 31, 56, 0.2) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
    );
}

#footer-site .content {
}

#footer-site .content .logo {
    margin-bottom: 220px;
    height: 115px;
}

#footer-site .content .item:active,
#footer-site .content .item:focus,
#footer-site .content .item {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    transition: 0.6s all;
}

#footer-site .content .item:hover > span,
#footer-site .content .item:hover > img,
#footer-site .content .item:hover > p {
    transform: translateY(-2px);
    filter: brightness(1.1);
    color: var(--color-secondary);
}

#footer-site .content .item img {
    flex-shrink: 0;
    max-width: 100%;
    width: 26px;
    height: auto;
    object-fit: contain;
    transition: 0.2s all;
}

#footer-site .content .item:nth-child(2) img,
#footer-site .content .item:nth-child(3) img,
#footer-site .content .item:nth-child(5) img {
    margin-top: 2px;
}

#footer-site .content .item:nth-child(6) img {
    margin-top: -2px;
}

#footer-site .content .item p,
#footer-site .content .item span {
    font-size: 35px;
    line-height: 40px;
    transition: 0.2s all;
}

#footer-site .content .item p {
    font-weight: 500;
}

#footer-site .content p.follow {
    font-weight: 500;
    margin-top: 35px;
    font-size: 35px;
    padding-left: 45px;
}

/*************************************************************************************************/
/*************************************************************************************************/
/*****************************************OUTROS**************************************************/
/*************************************************************************************************/
/*************************************************************************************************/


/* ==============BLOG============== */

.box-list-blog img {
    float: left;
    margin-right: 15px;
    border: 6px solid #eee;
    border-radius: 5px;
}

.box-list-blog {
    display: table;
    width: 100%;
    margin-bottom: 15px;
    text-decoration: none !important;
}

.box-list-blog .description-post-list {
    color: #666666;
    font-size: 14px;
}

.box-list-blog .description-post-list .title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pagination a, .pagination span {
    display: inline-block;
    border-radius: 10px;
    background: #eee;
    margin: 0 5px;
    color: #333;
    padding: 15px;
}

.pagination a:hover, .pagination span:hover {
    text-decoration: none;
}

.pagination span {
    background: #232323;
    color: #fff;
}

.sidebar > li {
    display: block;
    margin-bottom: 25px;
}

.sidebar h2.widgettitle {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar > li ul {
    padding-left: 0;
}

.sidebar > li ul li {
    display: block;
}

.sidebar > li ul li + li {
    border-top: 1px solid #eee;
}

.sidebar > li ul li a {
    color: #666666;
    display: block;
    padding: 15px;
}

.sidebar > li .tagcloud a {
    display: inline-block;
    padding: 7px;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #666666;
}

/* ==============SINGLE-POST============== */

#single-blog {
    padding-top: 50px;
}

#single-blog .post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#single-blog .img_single_post {
    margin-bottom: 35px;
    border: 10px solid #eee;
    border-radius: 5px;
}

#single-blog .single-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

#single-blog .img_single_post + .single-title {
    border-top: 1px solid #eee;
    padding-top: 15px;
}

#single-blog .posts-relacionados {
    padding-top: 40px;
}

#single-blog .posts-relacionados h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

/* ==============PAGE============== */
.container-header-topo .container {
    padding: 40px 0 0 0;
}

.content-page {
    padding: 40px 0 100px;
}

/* ==============404============== */
.not_found {
    padding-bottom: 30px;
}